@import url(/global-styles.css);

.main{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: transparent;
}

.wishlist-title{
    margin: 2rem;
}

.main-body{
    display:flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.img {
    width: 20rem;
    height: 15rem;
    background-size: cover; 
    background-position: 50% 50%;
}